.rating {
  position: absolute;
  bottom: .5em;
  right: .3em;
  color: var(--clr-white);
  border-radius: 50%;
  padding: .5em;
  font-size: .9rem;
  font-weight: bold;
  background: rgba(0,0,0,.7);
  z-index: 1;
}

.green {
  border: 2px solid #1b9e1b;
}

.orange {
  border: 2px solid #be8111;
}

.red {
  border: 2px solid #ca0d0d;
}

.grey {
  border: 2px solid var(--clr-grey);
}
