
.movie-info {
  background: var(--clr-bg-secondary);
  padding: 1.2em;
  border-radius: var(--border-radius);
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-around;*/
}

.poster {
  grid-area: poster;
}

.movie-info {
  grid-area: movie-info;
}

.basic-details span {
  font-size: .9rem;
}

.basic-details .release-date {
  font-size: .8em;
  font-weight: normal;
}

.tagline {
  font-style: italic;
  font-size: 1.4rem;
  color: var(--clr-grey);
  padding: .9em 0;
}

.overview p {
  padding-bottom: .9em;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.overview h4 {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.overview h3 {
  margin-bottom: .5em;
}

.crew-member {
  margin-bottom: .8em;
}

.name {
  font-size: 1em;
}

.genres {
  display: flex;
  padding-top: 1.2em;
}

.genres .btn {
  margin-right: .5em;
}

@media screen and (max-width: 790px) {
  .movie-details-container {
    grid-template-areas:
          "movie-info"
          "poster";
    grid-template-columns: 1fr;
    grid-template-rows: 450px 1fr;
    justify-items: center;
  }

  .poster {
    width: 450px !important;
    text-align: center;
  }

  h4 {
    font-size: 1em;
  }
}

