<div class="poster">
  <img *ngIf="data.movieDetails.poster_path; else noImage"
       [src]="env + data.movieDetails.poster_path" [alt]="data.movieDetails.title">
</div>
<ng-template #noImage>
  <img class="no-movies" src="./assets/no-image.png" alt="no image">
</ng-template>
<div class="movie-info">
  <div class="basic-details">
    <h2>{{data.movieDetails.title}} <span class="release-date">{{ ' (' + data.movieDetails.release_date.slice(0, 4) + ')' }}</span></h2>
    <span *ngIf="data.movieDetails.original_title"><span>Original Title: </span><span [ngStyle]="{fontStyle: 'italic'}">{{data.movieDetails.original_title + ' &bull; '}}</span></span>
    <span *ngIf="data.movieDetails.original_language">{{'Original Language: ' + data.movieDetails.original_language.toUpperCase()  + ' &bull; '}}</span>
    <span *ngIf="data.movieDetails.runtime">
      {{(data.movieDetails.runtime / 60 | round ) + 'h ' +
      (data.movieDetails.runtime % 60 === 0  ? '00' : data.movieDetails.runtime % 60) + 'm'}}
            </span>
  </div>
  <h3 class="tagline" *ngIf="data.movieDetails.tagline">{{ data.movieDetails.tagline }} </h3>
  <div class="overview">
    <h4 class="section-title">Overview</h4>
    <p>{{ data.movieDetails.overview }}</p>
  </div>
  <div class="credits">
    <div class="crew-member">
      <h4>Directed by</h4>
      <span class="name" *ngFor="let person of findCrewMembers(data.movieCredits.crew, 'director');
                    last as isLast">
                    {{person != null ? person.name : 'N/A'}}
        <span *ngIf="!isLast">, </span></span>
    </div>
    <div class="crew-member" *ngIf="findCrewMembers(data.movieCredits.crew, 'writer').length; else screenplay">
      <h4 >Written by</h4>
      <span class="name" *ngFor="let person of findCrewMembers(data.movieCredits.crew, 'writer');
                    last as isLast">{{person.name}}<span *ngIf="!isLast">, </span></span>
    </div>
    <ng-template #screenplay class="crew-member">
      <h4>Written by</h4>
      <span class="name" *ngFor="let person of findCrewMembers(data.movieCredits.crew, 'screenplay');
                  last as isLast">{{person.name}}<span *ngIf="!isLast">, </span></span>
    </ng-template>
  </div>
  <div class="genres">
            <span class="btn btn-selected" *ngFor="let genre of data.movieDetails.genres">
                {{genre.name}}
            </span>
  </div>
</div>
