<div class="input-container">
  <label for="search-bar"></label>
  <input class="search-bar" id="search-bar" type="text" placeholder="Search for a movie">
  <i class="fas fa-search"></i>
</div>
<div class="filter-buttons">
    <button  class="btn" [class.btn-active]="selectedButton === 'popular'"
        (click)="onButtonClicked('popular')">
        Popular
    </button>
    <button class="btn" [class.btn-active]="selectedButton === 'now playing'"
        (click)="onButtonClicked('now playing')">
        Now Playing
    </button>
    <button class="btn" [class.btn-active]="selectedButton === 'top rated'"
        (click)="onButtonClicked('top rated')">
        Top Rated
    </button>
    <button class="btn" [class.btn-active]="selectedButton === 'upcoming'"
        (click)="onButtonClicked('upcoming')">
        Upcoming
    </button>
</div>
<div class="main-section">
    <app-filter-panel
      [sortCategory]="selectedCategory"
      [fromDate]="fromDate"
      [toDate]="toDate"
      [voteCount]="voteCount">
    </app-filter-panel>
    <app-movie-list [movies]="movies$ | async" ></app-movie-list>
</div>
