.input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.search-bar {
    background: var(--clr-bg-secondary);
    border-radius: 20px;
    color: #727180;
    width: 100%;
    font-size: 1.4em;
    padding: .6em .8em;
    margin: 1.2em auto;
}

.fa-search {
    position: absolute;
    right: 1.5em;
    color: #727180;
    font-size: 1.2em;
}

.filter-buttons {
    text-align: center;
}

.btn {
    margin: .3em;

}

.btn:hover {
    color: white;
}

.main-section {
    display: flex;
    margin-top: 2em;
}

app-filter-panel {
    width: 300px;
    margin-right: 1.5em;
    flex: 0 0 auto;
}

app-movie-list {
    text-align: center;
}

.hidden {
  display: none;
}
