

.filter-buttons {
    text-align: center;
    padding: 0 0 1.4em;
}

.btn {
    margin: .3em;

}

.btn:hover {
    color: white;
}

.main-section {
    display: flex;
    /*margin-top: 2em;*/
}

app-filter-panel {
    width: 300px;
    margin-right: 1.5em;
    flex: 0 0 auto;
}

app-movie-list {
    text-align: center;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1030px) {
  app-filter-panel {
    width: 350px;
    margin: 0 auto 1.4em;
  }

  .main-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 1003px) {
  app-movie-list {
    margin: auto;
  }
}

