

.filter-buttons {
    text-align: center;
}

.btn {
    margin: .3em;

}

.btn:hover {
    color: white;
}

.main-section {
    display: flex;
    margin-top: 2em;
}

app-filter-panel {
    width: 300px;
    margin-right: 1.5em;
    flex: 0 0 auto;
}

app-movie-list {
    text-align: center;
}

.hidden {
  display: none;
}
