<div class="input-container">
    <input class="search-bar" type="text" placeholder="Search for a movie...">
    <i class="fas fa-search"></i>
</div>
<div class="filter-buttons">
    <button id="popular" class="btn btn-active">Popular</button>
    <button id="now-playing" class="btn">Now Playing</button>
    <button id="top-rated" class="btn">Top Rated</button>
    <button id="upcoming" class="btn">Upcoming</button>
</div>
<div class="main-section">
    <app-filter-panel></app-filter-panel>

    <div class="movie-list">

    </div>
</div>