<div class="movie-list-container" *ngIf="genres$ | async as genres">

      <app-movie-card *ngFor="let movie of movies"
                      [genres]="genres" [movie]="movie">
      </app-movie-card>
      <ng-container *ngIf="movies.length; else noMovies">
        <button *ngIf="movies.length === 20" class="btn btn-active" (click)="loadMore()">Load More</button>
      </ng-container>

      <ng-template #noMovies>
        <p class="no-movies">No movies matching these search criteria</p>
      </ng-template>
</div>
