.movie-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    width: 100%;
    font-size: 1.2em;
}

.no-movies {
  font-size: 1rem;
}

/*@media screen and (max-width: 1030px) {*/
/*  .movie-list-container  {*/
/*    width: 70vw;*/
/*    margin: 0 auto;*/
/*  }*/
/*}*/


/*@media screen and (max-width: 942px) {*/
/*  app-movie-card {*/
/*    margin: 0 auto;*/
/*  }*/
/*}*/
