.login-register {
  height: 50vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.6rem;
  color: white;
}

::ng-deep  .mat-form-field, mat-label {
  color: var(--clr-grey)
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: var(--clr-grey)
}

.form-container {

  background: var(--clr-bg-secondary);
  border-radius: var(--border-radius);
  min-width: 10rem;
  max-width: 25rem;
  width: 100%;
  padding: 1.2rem 1.8rem;
}

.cta {
  padding: 1rem 0 .5rem 0;
}

span {
  color: var(--clr-white);
  text-decoration: underline;
  outline: none;
}

span:hover {
  cursor: pointer;

}

.btn-action {
  margin-top: 1rem;
  width: 100%;
  text-transform: uppercase;
}

.form-field {
  width: 100%;
}
