<div class="login-register">
  <div class="form-container">
    <ng-container *ngIf="authService.isLoading">
      <app-loading-spinner></app-loading-spinner>
    </ng-container>
    <ng-container *ngIf="!authService.isLoading">
      <h2>Sign In</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input type="email" autocomplete="off" matInput formControlName="email" >
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Password</mat-label>
          <input type="password" autocomplete="off" matInput formControlName="password" >
        </mat-form-field>
        <button class="btn btn-action" [disabled]="!loginForm.valid">Login</button>
        <p class="cta">Don't have an account yet? <span routerLink="/register">Sign up</span></p>
      </form>
    </ng-container>
  </div>
</div>


