.navbar {
  position: fixed;
  background-color: var(--clr-bg-primary);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar .container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    letter-spacing: .3rem;
    font-size: 1.7em;
    outline: none;
    font-weight: bold;
    transition: var(--transition);
}

.logo:hover {
  cursor: pointer;
}

#red-logo {
    color: var(--clr-red)
}

#white-logo {
    color: var(--clr-white)
}

.menu {
    margin-left: 1.1rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--clr-grey)
}

.menu-item {
  outline: none;
  transition: var(--transition);
}

.menu-item:hover {
  color: var(--clr-white);
  cursor: pointer;

}

.menu-item:not(:last-child) {
    margin-right: 1.5rem;
}

.btn-action {
  padding: .3em 1.2em;
}

@media screen and (max-width: 630px) {
  .menu {
    display: none;
  }
}
