.panel {
    border: 1px solid var(--clr-grey);
    border-radius: 12px;
    padding: .8em .8em 0 .8em;
    margin-bottom: .8em;
}

.panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    padding-bottom: .5em;
}

.panel-header:hover {
    cursor: pointer;
}

hr {
    margin: .8em 0;
    border-color: var(--clr-grey);
}

.sort-filter-options {
    width: 100%;
    position: relative;
    border-top: 1px solid var(--clr-grey);
    display: none;
}

.fa-chevron-down {
    display: none;
}

.expand .fa-chevron-down {
    display: block;
}

.expand .fa-chevron-right {
    display: none;
}

.expand .sort-filter-options {
    display: block;
}

.panel-header h4 {
  font-size: 1.2rem;
}

.filter-name {
    font-size: 1em;
    margin: .8em 0;
}

.select-options-wrapper {
    position: relative;
    padding-bottom: .8em;
}

.filter-wrapper {
  margin: .5em 0;
}

.filter-wrapper:not(:last-child) {
  border-bottom: 1px solid var(--clr-grey);
}

select {
    width: 100%;
    background: var(--clr-bg-secondary);
    color: var(--clr-grey);
    padding: .6em;
}

.fa-sort-down {
    position: absolute;
    right: 2%;
    top: 12%;
}

.btn {
  font-size: 1.1em;
}

.btn.no-hover:hover {
  color: var(--clr-grey);
  background: var(--clr-bg-secondary);
}

.btn-clear, .btn-apply {
  margin-bottom: .7em;
  width: 100%;
}

.btn-apply {
  position: sticky;
  bottom: 1%;
}

.genres {
    text-align: center;
    padding-bottom: .5em;
}

.genre {
    margin: 0 .5em .8em 0;
    font-size: .9em;
}

mat-label, mat-datepicker-toggle, mat-slider {
  color: var(--clr-grey)
}

.filter-name span {
  color: var(--clr-grey);
}

mat-slider {
  width: 100%;
}

::ng-deep  .mat-accent .mat-slider-track-fill {
  background: var(--clr-red) !important;
}

::ng-deep  .mat-accent .mat-slider-thumb {
  background: var(--clr-red) !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: rgba(205, 15, 49,0.3);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #3f51b5;
}

::ng-deep .mat-input-element {
  caret-color: var(--clr-grey);
}

::ng-deep mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 0 0 0 !important;
}

@media screen and (max-width: 875px) {
  .panel-header h4 {
    font-size: 1rem;
  }

  /*.btn {*/
  /*  font-size: 1rem;*/
  /*}*/
}

/*@media screen and (max-width: 1000px) {*/
/*  .movie-card {*/
/*    width: 290px;*/
/*  }*/
/*}*/

@media screen and (max-width: 530px) {
  .btn.genre {
    font-size: .8em;
  }
}

