<div class="panel sort-panel"
     [class.expand]="sortExpanded" (click)="toggleSort()">
    <div class="panel-header">
        <h4>Sort</h4>
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="sort-filter-options" (click)="$event.stopPropagation()">
        <h5 class="filter-name">Sort results by</h5>
        <div class="select-options-wrapper">
            <label for="sort-results"></label>
            <select name="sort-results" id="sort-results" [(ngModel)]="sortCategory">
                <option value="popularity.desc">Popularity Descending</option>
                <option value="popularity.asc">Popularity Ascending</option>
                <option value="vote_average.desc">Rating Descending</option>
                <option value="vote_average.asc">Rating Ascending</option>
                <option value="release_date.desc">Release Date Descending</option>
                <option value="release_date.asc">Release Date Ascending</option>
                <option value="original_title.asc">Title (A-Z)</option>
                <option value="original_title.desc">Title (Z-A)</option>
            </select>
            <i class="fas fa-sort-down"></i>
        </div>
    </div>
</div>
<div class="panel filter-panel" [class.expand]="filterExpanded" (click)="toggleFilters()">
    <div class="panel-header">
        <h4>Filters</h4>
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="sort-filter-options" (click)="$event.stopPropagation()">
        <div class="filter-wrapper">
          <h5 class="filter-name">Genres</h5>
          <div class="genres">
            <button #genre class="btn genre" *ngFor="let genre of (genres$ | async)"
                    [id]="genre.id" (click)="onButtonClicked(genre.id)"
                    [class.btn-active]="genresIds.includes(genre.id)" >
              {{ genre.name }}
            </button>
          </div>
        </div>

        <div class="filter-wrapper">
          <h5 class="filter-name">Release Date</h5>

          <mat-form-field appearance="fill">
            <mat-label>From:</mat-label>
            <label>
              <input matInput [matDatepicker]="minDate" [formControl]="fromDate">
            </label>
            <mat-datepicker-toggle matSuffix [for]="minDate"></mat-datepicker-toggle>
            <mat-datepicker #minDate ></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>To:</mat-label>
            <label>
              <input matInput [matDatepicker]="maxDate" [formControl]="toDate">
            </label>
            <mat-datepicker-toggle matSuffix [for]="maxDate"></mat-datepicker-toggle>
            <mat-datepicker #maxDate ></mat-datepicker>
          </mat-form-field>
        </div>
      <div class="filter-wrapper slider">
          <h5 class="filter-name">Minimum Vote Count</h5>
            <p> {{ minimumVotes }}</p>
          <mat-slider min="0" max="10000" step="1000" [(ngModel)]="minimumVotes"></mat-slider>
      </div>

    </div>
</div>
<button class="btn btn-active btn-apply" (click)="applyFilters()">
    Apply
</button>
