<div class="panel sort-panel" 
    [class.expand]="sortingExpanded" 
    (click)="toggleSortingOptions()">
    <div class="panel-header">
        <h4>Sort</h4>
        <i class="fas fa-chevron-down"></i> 
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="sort-filter-options" (click)="$event.stopPropagation()">
        <h5 class="filter-name">Sort results by</h5>
        <div class="select-options-wrapper">
            <select name="sort-results" id="sort-results">
                <option value="">Popularity Descending</option>
                <option value="">Popularity Ascending</option>
                <option value="">Rating Descending</option>
                <option value="">Rating Ascending</option>
                <option value="">Release Date Descending</option>
                <option value="">Release Date Ascending</option>
                <option value="">Title (A-Z)</option>
                <option value="">Title (Z-A)</option>
            </select>
            <i class="fas fa-sort-down"></i>
        </div>
    </div>
</div>
<div class="panel filter-panel" 
    [class.expand]="filterExpanded" 
    (click)="toggleFilterOptions()">
    <div class="panel-header">
        <h4>Filters</h4>
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="sort-filter-options" (click)="$event.stopPropagation()">
        <h5 class="filter-name">Genres</h5>
        <div class="genres">    
            <button class="btn genre" *ngFor="let genre of (genres$ | async)" [id]="genre.id">{{ genre.name }}
            </button>
        </div>
    </div>
</div>
<button class="btn btn-active btn-apply">
    Apply
</button>