.movie-card {
    width: 200px;
    margin-bottom: 1.2em;
    text-align: center;
    color: var(--clr-white);
}

.movie-card:hover {
    cursor: pointer;
}

.movie-card:active {
    outline: none;
}

.title {
    font-size: 1em;
}

.release-date {
    margin: .3em;
    font-size: .7em;
}

.genres {
    font-size: .8em;
}

.filter-expanded {
  width: 140px;
}

/*@media screen and (max-width: 1160px) {*/
/*    .movie-card {*/
/*        width: 160px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1095px) {*/
/*    .movie-card {*/
/*        width: 200px;*/
/*    }*/
/*}*/
