@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

:root {
    --clr-bg-primary: #121012;
    --clr-bg-secondary: #1B1B1F;
    --clr-red: #E21F3F;
    --clr-grey: #ADACBB;
    --clr-white: #fff;
    --ff-primary: "Roboto", sans-serif;
    --max-width: 1170px;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--clr-grey);
    font-family: var(--ff-primary);
    background: var(--clr-bg-primary);
}

.btn {
    border: none;
    font-size: 1.1rem;
    border-radius: 20px;
    color: var(--clr-grey);
    background: var(--clr-bg-secondary);
    padding: .4em 1em;
}

.btn-active {
    color: var(--clr-white);
    background: var(--clr-red);
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}
