@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

:root {
    --clr-bg-primary: #121012;
    --clr-bg-secondary: #1b1b1f;
    --clr-red: #e21f3f;
    --clr-blue: #216ea5;
    --clr-grey: #adacbb;
    --clr-white: #fff;
    --ff-primary: "Roboto", sans-serif;
    --max-width: 1170px;
    --border-radius: 12px;
    --transition: all 0.2s linear;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--clr-grey);
    font-family: var(--ff-primary);
    font-size: 1rem;
    background: var(--clr-bg-primary);
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.4em;
    min-height: 100vh;
}

.btn {
    border: none;
    outline: none;
    border-radius: 20px;
    color: var(--clr-grey);
    background: var(--clr-bg-secondary);
    font-family: inherit;
    font-size: inherit;
    padding: .4em 1em;
    transition: var(--transition);

}

/*.btn-action {*/

/*  text-transform: uppercase;*/
/*}*/

.btn-selected, .btn-action {
    color: var(--clr-white);
    background: var(--clr-red);
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-red) ;
}

.btn-action:hover {
  /*background-color: #faf8f8;*/
  /*font-weight: bold;*/
  cursor: pointer;
  /*color: var(--clr-red);*/
}


.btn-disabled {
  background: #888383;
}

.btn-disabled:hover {
  cursor: default;
  background: #888383;
  color: var(--clr-white);
}


h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}


h1, h2, h3, h4 {
  line-height: 1;
}

a {
    text-decoration: none;
    color: var(--clr-white);
}

ul li {
    list-style-type: none;
}

select, input {
    border: none;
    outline: none;
}

input {
  background: var(--clr-bg-primary);
  color: var(--clr-grey)
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

a:hover, select:hover, button:hover {
    cursor: pointer;
}

img {
    width: 100%;
    border-radius: var(--border-radius);
}

img.no-image {
  background: white;
}

@media screen and (max-width: 875px) {
    .btn-selected {
        font-size: .875rem;
    }

    .input {
      font-size: 1rem;
    }
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1rem;
    }

    p {
      font-size: .9rem;
    }

}

.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn  {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
