/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

:root {
    --clr-bg-primary: #121012;
    --clr-bg-secondary: #1B1B1F;
    --clr-red: #E21F3F;
    --clr-grey: #ADACBB;
    --clr-white: #fff;
    --ff-primary: "Roboto", sans-serif;

  }

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-bg-primary);
}