<div class="login-register">
  <div class="form-container">
    <h2>Register</h2>
    <form>
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input type="email" autocomplete="off" matInput
               placeholder="Ex. pat@example.com">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input type="password" autocomplete="off" matInput >
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Confirm Password</mat-label>
        <input type="password" autocomplete="off" matInput >
      </mat-form-field>
      <button class="btn btn-action">Sign Up</button>
      <p class="cta">Already have an account? <span routerLink="/login">Sign in</span></p>
    </form>
  </div>
</div>

