<div class="login-register">
  <div class="form-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input type="email" autocomplete="off" matInput formControlName="email"
               placeholder="email">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input type="password" autocomplete="off" matInput formControlName="password">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Confirm Password</mat-label>
        <input type="password" autocomplete="off" matInput formControlName="confirmPassword">
      </mat-form-field>
      <button class="btn btn-action" [disabled]="!registerForm.valid">Sign Up</button>
      <p class="cta">Already have an account? <span routerLink="/login">Sign in</span></p>
    </form>
  </div>
</div>

