.movie-details-container {
    color: var(--clr-white);
    margin-top: 2em;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "poster" "movie-info";
}

.movie-info {
    background: var(--clr-bg-secondary);
    margin-left: 1.5em;
    padding: 1.2em;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.release-date {
    font-size: .6em;
    font-weight: normal;
}

.tagline {
    font-style: italic;
    color: var(--clr-grey)
}

.overview h3 {
    margin-bottom: .5em;
}

.member {
    margin-bottom: .8em;
}

.genres .btn {
    margin-right: .5em;
}