.movie-details-container {
  color: var(--clr-white);
  margin-top: 2em;
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "poster movie-info";
}

@media screen and (max-width: 790px) {
  .movie-details-container {
    grid-template-areas:
          "movie-info"
          "poster";
    grid-template-columns: 1fr;
    grid-template-rows: 450px 1fr;
    justify-items: center;
  }
}
