.input-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 0 0 1.4em;
}

.search-bar {
  background: var(--clr-bg-secondary);
  border-radius: 20px;
  color: #727180;
  width: 100%;
  font-size: 1.2em;
  padding: .8em 1em;
  /*margin: 1.2em auto;*/
}

.fa-search {
  position: absolute;
  right: 1.5em;
  color: #727180;
  font-size: 1.2em;
}

@media screen and (max-width: 875px) {
  .search-bar {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 550px) {
  .input-container {
    width: 100%;
  }
}

